# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Dados (não versionar dados grandes!)
data/bronze/**/*.parquet
data/silver/**/*.parquet
data/gold/**/*.parquet
input/**/*.tsv
input/**/*.csv
input/**/*.json
*.gz

# Credenciais
.env
.env.local
secrets/

# Logs
logs/*.log
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Spark
derby.log
metastore_db/
spark-warehouse/